body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(54, 57, 57);
  font-family: "Courier New", Courier, monospace;
  color: tomato;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  background-color: black;
  border-radius: 10px;
  display: block;
}
